.box {
    margin-top: 10rem;
    margin-bottom: 20rem;

    &__heading {
        font-size: 10rem;
        font-weight: 100;
    }
    &__text {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 10rem;
    }
}