@import "../../variables.scss";

.logobox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;

    &__title {
        font-family: var(--font-special);
        font-weight: 100;
        font-size: 10rem;
        color: white;
        margin-left: 5rem;
    }
}

.routebutton {
    width: 30rem;
    align-self: center;
}

.description {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    color: white;
}

.map {
    display: grid;
    justify-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.favourites {
    margin: 10rem 0;

    &__title {
        margin-bottom: 2rem;
    }
}

.content {
    &__switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5rem 0;

        & * {
            font-size: 2.25rem;
            font-weight: 100;

            &:last-child {
                margin-left: 10rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
}
@media only screen and (max-width: $phone) {

}
@media only screen and (max-width: $smallphone) {
    .logobox {
        flex-direction: column;
    }
}