.container {
    background-color: var(--color-primary);
    padding: 1rem 7.5rem;
    border-radius: 2.5rem;
    display: grid;
    align-content: center;
    justify-content: center;
    box-shadow: 0.25rem 0.25rem 0.3rem rgba(black, 0.3);
    transition: all .05s ease;

    &:hover {
        transform: scale(1.03);
    }
}
.title {
    color: white;
    font-size: 2rem;
    line-break: strict;
    white-space: nowrap;
}
