@import "../../variables.scss";

.wrapper {
    background-color: var(--bg-light);
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: .4rem .4rem .4rem rgba(black, .3);
    transition: transform .1s ease-in-out;

    &__left {
        height: 100%;
        width: 45%;
    }

    &__right {
        height: 100%;
        width: 55%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding: 2.5rem;

        &__title {
            font-size: 4.25rem;
        }

        &__info {
            position: absolute;
            bottom: 1.5rem;
            right: 2rem;
            color: var(--color-light-text);
            font-size: 1.4rem;
        }
    }

    &:hover {
        color: black;
        transform: scale(1.005);
    }
}

// --- RESPONSIVENESS ---
@media only screen and (max-width: $tablet) {
}
@media only screen and (max-width: $phone) {
}
@media only screen and (max-width: $smallphone) {
}