@import "../../variables.scss";

.carousel_wapper {
    overflow: hidden;
    width: 124rem;
    margin: 2rem auto;
    position: relative;
}

.carousel {
    display: flex;
}

.button_wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 7.5rem;
    align-items: center;
    justify-content: center;
    display: grid;
    opacity: 0;
    transition: opacity .005s ease;

    &__right {
        right: 1.5rem;
    }
    &__left {
        left: 1rem;
    }

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.button {
    &::after, &::before {
        content: "";
        display: block;
        width: 4.5rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: white;
    }

    &__right {
        &::after {
            transform: rotate(-45deg) translateY(1.2rem);
        }
        &::before {
            transform: rotate(45deg) translateY(-1.2rem);
        }
    }
    &__left {
        &::after {
            transform: rotate(45deg) translateY(1.2rem);
        }
        &::before {
            transform: rotate(-45deg) translateY(-1.2rem);
        }
    }
}

@media only screen and (max-width: $tablet) {
}
@media only screen and (max-width: $phone) {
    
}
@media only screen and (max-width: $smallphone) {
}