.wrapper {
    width: 75%;
    max-width: 1000px;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    position: relative;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .4);
    overflow: hidden;
    transition: all .05s ease;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
    &:hover {
        transform: scale(1.005);
    }
    &:hover &__title {
        opacity: 0;
    }
    &:hover &__description {
        opacity: 1;
    }

    & * {
        transition: all .15s ease;
        color: white;
    }
    &__title {
        font-family: var(--font-special);
        font-weight: bold;
        font-size: 4rem;
    }
    &__description {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 300;
        width: 90%;
    }
}