.wrapperHover {
    display: block;
    border-radius: 1rem;
    box-shadow: .4rem .4rem .4rem rgba(black, .3);
    transition: transform .1s ease-in-out;
    height: 40rem;
    position: relative;
    overflow: hidden;
    color: white;

    &:hover {
        transform: scale(1.01);
    }

    &__publishDate {
        position: absolute;
        font-weight: 300;
        top: 1rem;
        left: 1rem;
    }
    &__title {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 600;
    }
    &__descriptionbox {
        position: relative;
        display: grid;
        align-items: center;
        justify-items: center;
        padding: 2rem 2rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity .1s ease-in-out;
    }
    &:hover &__description, &:hover &__descriptionbox {
        opacity: 1;
    }
}

.wrapperMobile {
    border-radius: 1rem;
    box-shadow: .4rem .4rem .4rem rgba(black, .3);
    height: 50rem;
    overflow: hidden;
    background-color: var(--bg-light);

    &__top {
        color: white;
        height: 74%;
        border-radius: 1rem;
        box-shadow: .4rem .4rem .4rem rgba(black, .3);
        margin-bottom: 1%;
        position: relative;

        &__publishDate {
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 2.4rem;
        }

        &__title {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            font-size: 3.25rem;
        }
    }

    &__bottom {
        height: 25%;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 1rem;

        &__text {
            font-size: 2rem;
        }
    }
}

.wrapperMobile, .wrapperMobileLink {
    display: none;
}
@media (hover: none) {
    .wrapperHover, .wrapperHoverLink {
        display: none;
    }
    .wrapperMobile, .wrapperMobileLink {
        display: block;
    }
}   