// --- VARIABLES ---
:root {
    --color-primary: #7371fc;
    --color-accent: #a2d2ff;
    --bg-main: #f7f7f7;
    --bg-light: #f7f7f7;
    --bg-dark: #e7e7e7;
    --font-special: "Parisienne";
}

// --- GENERAL ---
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
html {
    text-align: center;
    background-color: var(--bg-main);
    font-size: 62.5%; // that way 1rem = 10px
}

// --- LINKS ---
a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}
a:hover {
    cursor: pointer;
    color: var(--color-primary);
}

// --- TEXT ---
p {
    font-size: 1.6rem;
}


// --- RESPONSIVENESS ---
/* Template
@media only screen and (max-width: $tablet) {
}
@media only screen and (max-width: $phone) {
}
@media only screen and (max-width: $smallphone) {
}
*/
// Tablets
@media only screen and (max-width: $tablet) {
    html {
        font-size: 55%;
    }
}
// Phones
@media only screen and (max-width: $phone) {
    html {
        font-size: 45%;
    }
}
// Small Phones
@media only screen and (max-width: $smallphone) {
    html {
        font-size: 35%;
    }
}