// --- VARIABLES ---
:root {
    --color-primary: #7371fc;
    --color-accent: #a2d2ff;
    --bg-main: #f7f7f7;
    --bg-light: #f7f7f7;
    --bg-dark: #e7e7e7;
    --font-special: "Parisienne";
}

// --- GENERAL ---
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
html {
    font-size: 62.5%; // that way 1rem = 10px
    text-align: center;
    background-color: var(--bg-main);
}

// --- LINKS ---
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

// --- TEXT ---
p {
    font-size: 1.6rem;
}
